<h1>Jogo Cadastrados</h1>

<a href="/jogos/novo">Cadastrar novo jogo</a>

<table border = "1">
    <!-- table row -->
    <tr>
        <!--table head-->
        <th>Id</th>
        <th>Nome do Jogo</th>
        <th>Plataforma</th>
        <th>Gênero</th>
        <th>Preço</th>
        <th>Data de Lançamento</th>
    </tr>
    {{#each jogo}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.nomedojogo}}</td>
        <td>{{this.plataforma}}</td>
        <td>{{this.genero}}</td>
        <td>{{this.preco}}</td>
         <td>{{this.lancamento}}</td>
            <td>
                <a href="/jogos/{{this.id}}/update">Atualizar</a>
                  <form action="/jogos/{{this.id}}/delete" method="post">
                      <input type="submit" value="Excluir"/>
                        <a href="/usuarios/{{this.id}}/cartoes">Ver Conquistas</a>
                 </form>
            </td>
    </tr>
    {{/each}}
</table>